<%- include("partials/ejs/_loader") -%>

<title>Devotion | Team</title>
<link rel="stylesheet" href="styles/members.css">

<%- include("partials/ejs/_banner") -%>
	<div class="team">
		<div class="inner">
			<h1>Devotion Partnerler</h1>

			<div class="members">
        
        <% partners.map((x) => { %>
          <div class="member">
            <a href="https://discord.com/users/<%= x.user.id %>"><img src="<%= x.user.displayAvatarURL({ dynamic: true, size: 2048 }) %>"></a>
            <div class="name"><%= x.user.username %></div>
            <div class="description admin" style="color: var(--partner);"><i style="margin-right: 2%;" class="fas fa-hands-helping"></i> Partner</div>
          </div>
        <% }); %>
		</div>
	</div>
</section>


<%- include("partials/ejs/_navbar") -%>
<%- include("partials/ejs/_footer") -%>
